In [2]:

import scipy.io as sio
import pandas as pd
import numpy as np

In [3]:
mat_data = sio.loadmat('../B101/Channel1.mat')
print(mat_data.keys())
x = mat_data['singleData']
print(x)

dict_keys(['__header__', '__version__', '__globals__', 'singleData'])
[[-21702628.   -8657071.    7671702.  ...  -7847381.5  24490868.
   41916830. ]]

In [4]:

df = pd.DataFrame(x)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,12287989,12287990,12287991,12287992,12287993,12287994,12287995,12287996,12287997,12287998
0,-21702628.0,-8657071.0,7671702.0,14368814.0,17132264.0,19591510.0,16921288.0,22267390.0,28665146.0,39199188.0,...,-17891566.0,-14465006.0,-14981806.0,-25018178.0,-29990018.0,-31674332.0,-25849960.0,-7847381.5,24490868.0,41916832.0

In [8]:

from datetime import datetime

lengthOfRow = 12287998

# print("hel")
# print(df[0])
# print("hel")
# print(len(df))

array_x = []
array_y = []


sum = 0
averageOf = 1000
for i in range(0, lengthOfRow):
    # print(f"Value at position {idx}: {df[idx]}")
    sum += df[i].values[0]
    if(i % averageOf == 0):
        avg = sum / averageOf
        specific_timestamp = 0 +1000 * (i / averageOf)
        date_from_timestamp = datetime.fromtimestamp(specific_timestamp/1000)
        array_x.append(date_from_timestamp)
        array_y.append(avg)
        sum = 0

In [9]:
print("len of x: " + str(len(array_x) ))

print("len of y: " + str(len(array_y) ))

print(array_x[0:10])
print(array_y[0:10])

len of x: 12288
len of y: 12288
[datetime.datetime(1970, 1, 1, 1, 0), datetime.datetime(1970, 1, 1, 1, 0, 1), datetime.datetime(1970, 1, 1, 1, 0, 2), datetime.datetime(1970, 1, 1, 1, 0, 3), datetime.datetime(1970, 1, 1, 1, 0, 4), datetime.datetime(1970, 1, 1, 1, 0, 5), datetime.datetime(1970, 1, 1, 1, 0, 6), datetime.datetime(1970, 1, 1, 1, 0, 7), datetime.datetime(1970, 1, 1, 1, 0, 8), datetime.datetime(1970, 1, 1, 1, 0, 9)]
[-21702.628, 7011038.219018554, -4304874.396046875, 100649.86612512208, -4191800.284859375, 250511.2945625, -6135944.15647168, -1564709.3129848633, 4526830.719890625, 3683075.6203791504]

In [10]:

import csv

# Create and write to CSV file
with open('output-with-date-average-1000.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    # Write headers
    writer.writerow(['date', 'pressure'])
    # Write data rows
    writer.writerows(zip(array_x, array_y))